/* Colores usados en la web: 

Negro - rgb(25, 25, 25) - Background
Azul oscuro - rgb(45, 66, 99)
Naranja - rgb(200, 75, 49)
Beige - rgb(236, 219, 186)
*/

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estructura de columnas: */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-left {
    width: 25%;
    float: left;
    margin-left: 5%;
}

.column-right {
    width: 23%;
    float: left;
    margin-left: 12%;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-30 {
    width: 30%;
    float: left;
}


/* ----------------------------- */

.alimentos {
    width: 5%;
}

.titulo {
    width: 100%;
    margin: auto;
    display: block;
}

#img_1 {
    width: 55%;
}

#img_2 {
    width: 55%;
}

.cuadro_rojo {
    background-color: rgb(155, 55, 55);
    border-radius: 25px;
    padding: 2%;
}

.cuadro_verde {
    background-color: rgb(61, 106, 56);
    border-radius: 25px;
    padding: 2%;
}